extends layout

block content
  h1= title
  p Welcome to #{title}

  form(id='uploadForm', enctype='multipart/form-data', action = '/gcloud', method = 'post')
    input(type = 'file', name = 'fieldName', multiple = 'multiple')
    input(type = 'submit', name = 'submit', value = 'Upload')
